{% extends 'base/base.html' %}
{% block content %}

<div class="container">
    <div class="card mx-auto mt-4 shadow" style="max-width: 600px;">
        <div class="card-header bg-success text-white text-center">
            <h5>Ajouter une Compétence</h5>
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div class="mb-3">
                        <label class="form-label">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-success w-100">Enregistrer</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
