{% extends 'cv/base.html' %}

{% block title %}Modifier la formation{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-lg p-4 rounded-4">
        <h2 class="text-center">Modifier la formation</h2>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-success w-100">Enregistrer les modifications</button>
        </form>
        <a href="{% url 'profil' user.id %}" class="btn btn-secondary w-100 mt-3">Annuler</a>
    </div>
</div>
{% endblock %}
